<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="3" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.004692">
    <testsuite name="Test Suite" tests="3" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.004692">
      <testsuite name="Package1Test" file="F:\Projets\github\tchevalleraud\test-package\tests\Package1Test.php" tests="3" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.004692">
        <testcase name="testPackage1_instanceOf" class="Package1Test" classname="Package1Test" file="F:\Projets\github\tchevalleraud\test-package\tests\Package1Test.php" line="4" assertions="1" time="0.003627"/>
        <testcase name="testPackage1_construct" class="Package1Test" classname="Package1Test" file="F:\Projets\github\tchevalleraud\test-package\tests\Package1Test.php" line="9" assertions="1" time="0.000700"/>
        <testcase name="testPackage1" class="Package1Test" classname="Package1Test" file="F:\Projets\github\tchevalleraud\test-package\tests\Package1Test.php" line="14" assertions="2" time="0.000365"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
